rdflib
Werkzeug
Flask
SPARQLWrapper
lxml
nltk
PyYAML
regex
spacy
flask-jwt-extended
flasgger
psycopg2-binary
validators
flask_cors
google-cloud-storage
google-cloud-dataproc
Flask-Limiter
sendgrid
elasticsearch==8.15.1
gunicorn
sentence-transformers
numpy<2
